input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 42px;
    cursor: pointer;
}
.custom-file-upload:hover {
    background-color: rgb(67, 66, 66);
    color: white;
    transition: 0.5s;
}
.send-margin {
    margin-top: 10px;
}
.form-close {
    display: none;
    position: absolute;
}
.nav-item {
    margin-right: 30px;
}
.city {
    color: black;
    font-size: 1.2em;
}
.city:hover {
    text-decoration: none;
}
.img_story {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 450px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.Site-content {
    flex: 1;
}